.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    &-title {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
    }
    &-rides {
        display: flex;
        flex-direction: column;
    }
}
.ride { 

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px 0;
        border-bottom: 1px solid #E5E5E5;
        * {
            font-family: 'Inter', sans-serif;
        }
        h3 {
            font-weight: 600;
        }
        &:last-child {
            border-bottom: none;
        }
        &-header {
            display: flex;
            margin-bottom: 8px;
            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-right: 8px;
            }
        }
        &-date {
            opacity: .5;
            font-size: 14px;
        }
        &-route {
            display: none;
            flex-direction: column;
            &-divider {
                width: 1px;
                height: 32px;
                background-color: black;
                margin-top: -16px;
                margin-bottom: 8px;
                margin-left: 5px;
                opacity: .2;
            }
            &-address {
                display: flex;
                flex-direction: row;
                &-icon {
                    margin-right: 8px;
                    margin-top: 4px;
                }
                &-text {
                    display: flex;
                    flex-direction: column;
 
                }
            
            }
        }
    }
}
.ride-container:first-child .ride-container-route {
    display: flex;
    &-address {
        &-text {
            & span:last-child {
                opacity: .5;
                font-size: 14px;
            }
        }
    }
}