.tableContainer {
  max-height: 78vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 100px;
  }
}

.table {
  background-color: white;
  width: 100%;
  border-radius: 0;
  padding: 0;

  thead {
    border-bottom: 2px solid #e5e5e5;
  }
  tbody {
    text-align: center;

    tr:nth-child(odd) {
      background-color: #f9fafb;
    }
    tr {
      border-bottom: 1px solid #e5e5e550;
    }
  }

  tbody td {
    line-height: 16px;
    padding: 16px 0;
    font-size: 16px;
    :last-child {
      cursor: pointer;
    }
  }
  th {
    padding: 20px 0 10px 0;
    text-align: center;
    background-color: transparent;
    color: black;
    font-size: 14px;
    font-weight: bold;
  }

  &-row {
    padding-block: 16px;
    &:last-child {
      padding-right: 32px;
      cursor: pointer;
    }
  }

  &-icon {
    color: var(--primary);
  }

  &-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.pagination {
  span {
    background-color: var(--primary);
    color: white;
    box-shadow: none;
  }
}

.tableWrapper {
  border-radius: 0;
  padding: 0 64px;
  overflow-y: hidden;
}
