.header {
  display: flex;
  align-items: center;
  margin: 36px 64px 16px 64px;
  min-height: 45.99px;
  &-logo {
    width: 46px;
    height: auto;
  }
  &-title {
    font-size: 21px;
    margin-left: 16px;
    font-weight: 400;
    &-skeleton {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-left: -16px;
      padding: 0;
      margin-top: -6px;
    }
  }
  &-hr {
    margin-inline: 64px;
    margin-right: 64px;
    height: 1px;
    background-color: #dfdfdf;
  }
}
