@import '@/style';

.container {
  display: flex;
}

.tabcontainer {
  padding: 32px 64px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  min-width: 375px;
  max-width: 400px;

  &-flexrow {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &-item {
    display: flex;
    flex-direction: column;
  }

  &-input {
    padding-block: 12px;
    padding-inline: 16px;
    margin-bottom: 24px;
    border-radius: 40px;
    border-width: 1px;
    background-color: white;
    border: 2px solid rgb(226 232 240);
    transition: all 0.3s ease-out;
    &:hover,
    &:focus {
      outline: var(--primary);

      border: 2px solid var(--primary);
    }
  }

  &-submit {
    padding-block: 12px;
    padding-inline: 16px;
    border-radius: 40px;
    border-width: 1px;
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
    font-weight: 600;
    margin-top: 32px;
    width: 100%;

    &:hover,
    &:focus-visible {
      outline: none;
      background-color: white;
      color: var(--primary);
      border: 2px solid var(--primary);
    }
  }
}
